.orders {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 70px;

}

.order-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.order-card:hover {
  background-color: #f1f1f1;
}

.order-detail {
  margin-bottom: 8px;
}

.order-detail strong {
  font-size: 14px;
  color: #333;
  margin-right: 8px;
}

.order-detail p {
  display: inline;
  font-size: 16px;
  color: #555;
  margin: 0;
}


@media (max-width: 768px) {
  .orders {
    padding: 10px;
    margin-top: 50px;
  }

  .order-card {
    padding: 12px;
    margin: 8px 0;
  }

  .order-detail strong {
    font-size: 13px;
  }

  .order-detail p {
    font-size: 14px;
  }
}


@media (max-width: 428px) {
  .orders {
    padding: 10px;
    margin-top: 50px;
  }

  .order-card {
    padding: 12px;
    margin: 8px 0;
  }

  .order-detail strong {
    font-size: 13px;
  }

  .order-detail p {
    font-size: 14px;
  }
}
