/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Slight dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

/* Modal Content */
.modal-content {
  background-color: #751313;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(191, 22, 22, 0.1);
  position: relative;
}

/* Sign In Header */
.signIn {
  font-size: 2rem;
  color: #1e1e1e;
  margin-bottom: 1.5rem;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #000000; /* Gold */
  font-size: 1.5rem;
  cursor: pointer;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* Sign-In Form */
.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Input Fields */
.sign-in-form input {
  padding: 0.75rem;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

/* Submit Button */
.sign-in-form button {
  padding: 0.75rem;
  background-color: #000000; /* Gold */
  color:  #b3b3b3;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-form button:hover {
  background-color: #515151; /* Slightly darker gold on hover */
}


/* Responsive for tablets and smaller */
@media (max-width: 768px) {
  .modal-content {
    max-width: 90%;
    padding: 1.5rem;
  }

  .signIn {
    font-size: 1.5rem;
  }

  .sign-in-form button {
    font-size: 1rem;
    padding: 0.6rem;
  }

  .sign-in-form input {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}

/* Responsive for phones */
@media (max-width: 400px) {
  .modal-content {
    max-width: 95%;
    padding: 1rem;
  }

  .signIn {
    font-size: 1.2rem;
  }

  .close-button {
    font-size: 1.2rem;
    top: 8px;
    right: 8px;
  }

  .sign-in-form button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .sign-in-form input {
    font-size: 0.85rem;
    padding: 0.4rem;
  }
}
